<h1>Editing Rule Set</h1>

<% form_for(@rule_set) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <% @rule_set.rules.each_with_index do |rule,i| %>
    <%= check_box_tag "rule_set[rule_ids][]", rule.id, :checked => true %> <%=h rule.name %><br />
  <% end %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<div id="footer">
  <%= link_to 'Show', @rule_set %>
  <%= link_to 'Back', rule_sets_path %>
</div>