<h1>Rule Sets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Rules</th>
    <th colspan="2">Actions</th>
  </tr>

<% @rule_sets.each do |rule_set| %>
  <tr>
    <td><%= link_to h(rule_set.name), rule_set %></td>
    <td><%=h rule_set.rules.size %></td>
    <td><%= link_to 'Edit', edit_rule_set_path(rule_set) %></td>
    <td><%= link_to 'Destroy', rule_set, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="footer">
  <%= link_to 'New rule set', new_rule_set_path %>
</div>