<h1>New rule_set</h1>

<% form_for(@rule_set) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  Add a rule:
  <p>
    <%= f.select :rule_ids, Rule.all.map { |r| [r.name, r.id] } %>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rule_sets_path %>