<h1>New rule_set</h1>

<% form_for(@rule_set) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit 'Create' %> Next: add a rule
  </p>
<% end %>

<div id="footer">
<%= link_to 'Back', rule_sets_path %>
</div>